<form action="/deleteHotel" method="POST">
    <label for="id_hotel">ID Hôtel:</label>
      <select id="id_hotel" name="id_hotel" required>
        <% for (let i=1; i<=40; i++) { %>
          <option value="<%= i %>"><%= i %></option>
        <% } %>
       
      </select>
      <br>
      <label for="nom_chaine">Nom chaine Hotel</label>
      <select id="nom_chaine" name="nom_chaine" required>
        <option value="Mariott">Mariott</option>
        <option value="Hilton">Hilton</option>
        <option value="Holiday INN">Holiday INN</option>
        <option value="Ibis">Ibis</option>
        <option value="Sheraton">Sheraton</option>
      </select>
      <br>
      <label for="ville">Ville</label>
      <select id="ville" name="ville" required>
        <option value="Ottawa">Ottawa</option>
        <option value="Calgary">Calgary</option>
        <option value="Toronto">Toronto</option>
        <option value="Vancouver">Vancouver</option>
        <option value="Montreal">Montreal</option>
      </select>
      <br>
      <button type="submit"> Delete Hotel</button>

      
</form>