<form action="/searchClient" method="POST">
    <label for="nom_complet">Full name:</label>
    <input type="text" id="nom_complet" name="nom_complet">
    <br>
    <br>
      <button type="submit"> Search client</button>
</form>