<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Index Page</title>
</head>
<body>
  <h1>Welcome to my Node.js project</h1>
  <form action="/employee" method="GET">
    <button type="submit">Enter as Employee</button>
  </form>
  <form action="/client" method="GET">
    <button type="submit">Enter as Client</button>
  </form>
</body>
</html>
