
<!--'Main page for the employe side where he have two choice manage database and Make location' -->
<!DOCTYPE html>
<html>
  <head>
    <title>Employee Page</title>
  </head>
  <body>
    <h1>Employee Page</h1>
    <h3>Welecome to employee page where you can manage you hotel database for web page.</h3>
    <form action="/chooseTable" method="POST" >
      <input type="hidden" >
      <button type="submit" >Manage database</button>
    </form>
    <form action="/makeLocation" method="POST">
      <button type="submit">Make a location</button>
    </form>
      

</html>

