<form action="/addHotel" method="POST">
    <label for="id_hotel">ID:</label>
    <input type="text" id="id_hotel" name="id_hotel" required>
    <br>
    <label for="nombre_chambres">Number of rooms:</label>
    <input type="text" id="nombre_chambres" name="nombre_chambres" required>
    <br>
    <label for="adresse">Address:</label>
    <input type="text" id="adresse" name="adresse" required>
    <br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br>
    <label for="tel">Téléphone:</label>
    <input type="text" id="tel" name="tel" required>
    <br>
    <label for="nom_chaine">Nom chaine Hotel</label>
      <select id="nom_chaine" name="nom_chaine" required>
        <option value="Mariott">Mariott</option>
        <option value="Hilton">Hilton</option>
        <option value="Holiday INN">Holiday INN</option>
        <option value="Ibis">Ibis</option>
        <option value="Sheraton">Sheraton</option>
      </select>
    <br>
    <label for="ville">ville:</label>
    <input type="text" id="ville" name="ville" required>
    <br>
    <label for="category">category:</label>
    <input type="number" id="category" name="category" required>
    <br>
    <button type="submit">Add Hotel</button>
  </form>
  