<form action="/modifyEmployee" method="POST">
  <label for="id_employe">id_employe:</label>
  <input type="number" id="id_employe" name="id_employe" required>
  <br>
  <label for="nom_complet">Full name:</label>
  <input type="text" id="nom_complet" name="nom_complet" required>
  <br>
  <label for="adresse">Adresse:</label>
  <input type="text" id="adresse" name="adresse" required>
  <br>
  <label for="nas">Nas:</label>
  <input type="number" id="nas" name="nas" required>
  <br>
  <select id="role" name="role" required>
    <option value="Receptionist">Receptionist</option>
    <option value="Housekeeper">Housekeeper</option>
    <option value="maintenance">Maintenance</option>
    <option value="Chef">Chef</option>
    <option value="Gestionnaire">Gestionnaire</option>
</select>

 <label for="id_hotel">ID Hôtel:</label>
    <select id="id_hotel" name="id_hotel" required>
      <% for (let i=1; i<=40; i++) { %>
        <option value="<%= i %>"><%= i %></option>
      <% } %>
    </select>
    <br>
    
  <button type="submit">Modify Employe</button>
</form>
