
<!-- employeePage.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Employee Page</title>
  </head>
  <body>
    <h1>Employee Page</h1>
    <h3>Welecome to employee page where you can manage you hotel database for web page.</h3>
    <form action="/chooseTable" method="POST" >
      <input type="hidden" >
      <button type="submit" >Go to list of table</button>
      

</html>

